<a ui-sref="app.dashboard" class="logo">
  <!-- mini logo for sidebar mini 50x50 pixels -->
  <span class="logo-mini brand">ngS</span>
  <span class="logo-lg brand">Angular Sandbox</span>
</a>

<nav class="navbar navbar-static-top">

  <div class="navbar-custom-menu">

    <ul class="nav navbar-nav">
      <li ui-sref-active="active">
        <a href="#">Link
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a href="#">Link</a>
      </li>
      <li ui-sref-active="active">
        <a href="#">Link</a>
      </li>
      <li class="dropdown user user-menu" ng-include="'views/common/user.html'"></li>
    </ul>
  </div>

</nav>
